body
{
	padding: 0;
	margin: 0;
}

.mobile
{
	display: flex;
}
	.mobile #navM
	{
		display: grid;
		position: fixed;
		grid-template-areas:
			"A A E"
			"B B E"
			"C C E"
			"D D E";
		height: 100vh;
		transform: translateX();
		font-family: Century Gothic, sans-serif;
		font-size: 14pt;
		background: #e6f3ff;
		text-align: center;
		transform: translateX(-120px);
		transition: transform 1s;
		z-index: 2;
	}
	.mobile #navMclick
	{
		display: grid;
		position: fixed;
		grid-template-areas:
			"A A E"
			"B B E"
			"C C E"
			"D D E";
		height: 100vh;
		font-family: Century Gothic, sans-serif;
		font-size: 14pt;
		background: #e6f3ff;
		text-align: center;
		transform: translateX(0);
		transition: transform 1s;
		z-index: 2;
	}
	.mobile main
	{
		margin-left: 52px;
		height: 100vh;
		width: 100%;
	}
	.mobile #welcome
	{
		position: relative;
		z-index: 1;
		margin-left: 10px;
		font-family: Century Gothic, sans-serif;
		font-size: 20pt;
		color: white;
		animation-name: textM;
		animation-duration: 2s;
	}
	.mobile #number1M
	{
		position: relative;
		z-index: 1;
		margin-left: 10px;
		margin-top: 20px;
		font-family: Century Gothic, sans-serif;
		font-size: 18pt;
		color: white;
		animation-name: textM;
		animation-duration: 2s;
	}
	.mobile #orderM
	{
		position: relative;
		z-index: 1;
		margin-top: 20px;
		font-family: Century Gothic, sans-serif;
		font-size: 20pt;
		text-align: center;
		background: #e6f3ff;
		margin-left: 10px;
		margin-right: 10px;
		border: 2px solid #99ceff;
		color: #808080;
		max-width: 640px;
		animation-name: textM;
		animation-duration: 2s;
	}
	.mobile #navHomeM
	{
		grid-area: A;
		border-bottom: 2px solid #99ceff;
		line-height: 25vh;
		max-height: 25vh;
		color: #808080;
	}
	.mobile #navAboutM
	{
		grid-area: B;
		border-bottom: 2px solid #99ceff;
		line-height: 25vh;
		max-height: 25vh;
		color: #808080;
	}
	.mobile #navConstructorM
	{
		grid-area: C;
		border-bottom: 2px solid #99ceff;
		line-height: 25vh;
		max-height: 24vh;
		color: #808080;
	}
	.mobile #navContactsM
	{
		grid-area: D;
		line-height: 25vh;
		color: #808080;
	}
	.mobile #navBtn
	{
		grid-area: E;
		background: #e6f3ff;
		width: 50px;
		line-height: 100vh;
		border-right: 2px solid #99ceff;
		border-left: 2px solid #99ceff;
		font-family: Century Gothic, sans-serif;
		font-size: 60pt;
		color: #808080;
	}
	.mobile footer
	{
		position: absolute;
		bottom: 0px;
		margin-left: 52px;
		z-index: 1;
		color: white;
		animation-name: textM;
		animation-duration: 2s;
		z-index: 1;
	}
	.mobile #imgM
	{
		position: absolute;
		background-image: url("background.jpg");
		background-size: cover;
		top: 0px;
		width: 100%;
		height: 100vh;
		z-index: 0;
		filter: blur(2px);
		animation-name: imgM;
		animation-duration: 2s;
		z-index: 0;
		background-position: center;
	}
	@keyframes imgM
	{
		0%
		{
			filter: blur(0px);
		}
		50%
		{
			filter: blur(0px);
		}
		100%
		{
			filter: blur(2px);
		}
	}
	@keyframes textM
	{
		0%
		{
			opacity: 0%;
		}
		50%
		{
			opacity: 0%;
		}
		100%
		{
			opacity: 100%;
		}
	}
	
.desktop
{
	display: none;
}
	.desktop nav
	{
		display: flex;
		position: fixed;
		background: white;
		width: 100%;
		height: 50px;
		margin-right: 1%;
		font-family: Century Gothic, sans-serif;
		font-size: 30pt;
		gap: 0.25%;
		justify-content: center;
		border-bottom: 2px solid #bfbfbf;
		z-index: 1;
	}
	.desktop nav > div
	{
		width: 20%;
		color: #808080;
		background: #e6f3ff;
		border-right: 2px solid #99ceff;
		border-left: 2px solid #99ceff;
		border-color: #99ceff;
		text-align: center;
		vertical-align: center;
		transition: color 0.5s, background 0.5s, border-color 0.5s, width 0.5s;
	}
	.desktop nav > div:hover
	{
		width: 25%;
		background: #808080;
		color: #e6f3ff;
		border-color: #4d4d4d;
		transition: all 1s;
	}
	.desktop main
	{
		display: flex;
		position: relative;
		top: 52px;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		font-family: Century Gothic, sans-serif;
		padding: auto;
		z-index: 1;
	}
	.desktop #welcome
	{
		padding-top: 10vh;
		font-size: 48pt;
		color: white;
		opacity: 100%;
		animation-name: textD;
		animation-duration: 2s;
	}
	.desktop #number1D
	{
		padding-top: 3vh;
		font-size: 36pt;
		padding-bottom: 30px;
		transition: padding-bottom 0.5s;
		color: white;
		opacity: 100%;
		animation-name: textD;
		animation-duration: 2s;
	}
	.desktop #number1hover
	{
		padding-top: 3vh;
		font-size: 36pt;
		padding-bottom: 15px;
		transition: padding-bottom 1s;
		color: white;
		opacity: 100%;
		animation-name: textD;
		animation-duration: 2s;
	}
	.desktop #orderD
	{
		width: 762px;
		height: 80px;
		color: #808080;
		background: #e6f3ff;
		border: 2px solid #99ceff;
		font-size: 24pt;
		text-align: center;
		vertical-align: center;
		margin: auto;
		transition: color 0.5s, background 0.5s, border-color 0.5s, width 0.5s, height 0.5s, font-size 0.5s;
		animation-name: textD;
		animation-duration: 2s;
	}
	.desktop #orderD:hover
	{
		width: 1075px;
		height: 113px;
		background: #808080;
		color: #e6f3ff;
		border-color: #4d4d4d;
		font-size: 33pt;
		transition: all 1s;
	}
	.desktop #footD
	{
		position: absolute;
		bottom: 0px;
		color: white;
		z-index: 1;
		animation-name: textD;
		animation-duration: 2s;
	}
	.desktop #imgD
	{
		position: absolute;
		background-image: url("background.jpg");
		background-size: cover;
		top: 0px;
		width: 100%;
		height: 100vh;
		z-index: 0;
		filter: blur(2px);
		animation-name: imgD;
		animation-duration: 2s;
		background-position: center;
	}
	@keyframes imgD
	{
		0%
		{
			filter: blur(0px);
		}
		50%
		{
			filter: blur(0px);
		}
		100%
		{
			filter: blur(2px);
		}
	}
	@keyframes textD
	{
		0%
		{
			opacity: 0%;
		}
		50%
		{
			opacity: 0%;
		}
		100%
		{
			opacity: 100%;
		}
	}
	
@media screen and (min-width: 1265px) and (min-height: 660px)
{
	.mobile
	{
		display: none;
	}
	.desktop
	{
		display: block;
	}
}

#off
{
	display: none;
}

#explorer
{
	display: block;
	text-align: center;
	font-family: Century Gothic, sans-serif;
	font-size: 40pt;
}