body
{
	padding: 0;
	margin: 0;
	background: #808080;
}
#img
	{
		min-width: 320px;
	}

.indent
{
	text-indent: 41px;
}

.mobile
{
	display: flex;
}
	.mobile #navM
	{
		display: grid;
		position: fixed;
		grid-template-areas:
			"A A E"
			"B B E"
			"C C E"
			"D D E";
		height: 100vh;
		transform: translateX();
		font-family: Century Gothic, sans-serif;
		font-size: 14pt;
		background: #e6f3ff;
		text-align: center;
		transform: translateX(-120px);
		transition: transform 1s;
		z-index: 2;
	}
	.mobile #navMclick
	{
		display: grid;
		position: fixed;
		grid-template-areas:
			"A A E"
			"B B E"
			"C C E"
			"D D E";
		height: 100vh;
		font-family: Century Gothic, sans-serif;
		font-size: 14pt;
		background: #e6f3ff;
		text-align: center;
		transform: translateX(0);
		transition: transform 1s;
		z-index: 2;
	}
	.mobile main
	{
		margin-left: 52px;
		height: 100vh;
		width: 100%;
	}
	.mobile #navHomeM
	{
		grid-area: A;
		border-bottom: 2px solid #99ceff;
		line-height: 25vh;
		max-height: 25vh;
		color: #808080;
	}
	.mobile #navAboutM
	{
		grid-area: B;
		border-bottom: 2px solid #99ceff;
		line-height: 25vh;
		max-height: 25vh;
		color: #808080;
	}
	.mobile #navConstructorM
	{
		grid-area: C;
		border-bottom: 2px solid #99ceff;
		line-height: 25vh;
		max-height: 24vh;
		color: #808080;
	}
	.mobile #navContactsM
	{
		grid-area: D;
		line-height: 25vh;
		color: #808080;
	}
	.mobile #navBtn
	{
		grid-area: E;
		background: #e6f3ff;
		width: 50px;
		line-height: 100vh;
		border-right: 2px solid #99ceff;
		border-left: 2px solid #99ceff;
		font-family: Century Gothic, sans-serif;
		font-size: 60pt;
		color: #808080;
	}
	.mobile footer
	{
		position: absolute;
		bottom: 0px;
		margin-left: 52px;
		z-index: 1;
		color: white;
		animation-name: textM;
		animation-duration: 2s;
		z-index: 1;
	}
	.mobile #textM
	{
		margin-left: 10px;
		font-family: Century Gothic, sans-serif;
		font-size: 20pt;
		color: #e6f3ff;
		position: relative;
		z-index: 1;
	}
	
.desktop
{
	display: none;
}
	.desktop nav
	{
		display: flex;
		position: fixed;
		background: white;
		width: 100%;
		height: 50px;
		margin-right: 1%;
		font-family: Century Gothic, sans-serif;
		font-size: 30pt;
		gap: 0.25%;
		justify-content: center;
		border-bottom: 2px solid #bfbfbf;
		z-index: 2;
	}
	.desktop nav > div
	{
		width: 20%;
		color: #808080;
		background: #e6f3ff;
		border-right: 2px solid #99ceff;
		border-left: 2px solid #99ceff;
		border-color: #99ceff;
		text-align: center;
		vertical-align: center;
		transition: color 0.5s, background 0.5s, border-color 0.5s, width 0.5s;
	}
	.desktop nav > div:hover
	{
		width: 25%;
		background: #808080;
		color: #e6f3ff;
		border-color: #4d4d4d;
		transition: all 1s;
	}
	.desktop main
	{
		display: flex;
		position: relative;
		top: 52px;
		flex-direction: column;
		justify-content: center;
		font-family: Century Gothic, sans-serif;
		padding: auto;
		z-index: 1;
	}
	.desktop #footD
	{
		position: absolute;
		bottom: 0px;
		color: white;
		z-index: 1;
		animation-name: textD;
		animation-duration: 2s;
	}
	.desktop #textD
	{
		margin-left: 10px;
		text-align: left;
		font-family: Century Gothic, sans-serif;
		font-size: 47pt;
		color: #e6f3ff;
		position: relative;
		z-index: 1;
	}
	.desktop #flex
	{
		display: flex;
	}
	
@media screen and (min-width: 1265px) and (min-height: 660px)
{
	.mobile
	{
		display: none;
	}
	.desktop
	{
		display: block;
	}
}